* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 1020px;
  background-color: #ced6e0;
  background-image: url("assets/bg.png");
  background-repeat: repeat;
  font-family: 'Trebuchet MS', 'Lucida Sans', sans-serif;
  font-size: 16px;
  color: #444;
}

section {
  margin-bottom: 30px;
}

section h2 {
  margin-bottom: 5px;
  padding: 15px;
  /* background-color: #f1f2f6; */
  /* border-bottom: 1px solid #ffffff; */
  font-weight: 600;
}

section details {
  margin-bottom: 10px;
  -webkit-box-shadow: 0 1px 5px rgba(255, 255, 255, 0.2);
          box-shadow: 0 1px 5px rgba(255, 255, 255, 0.2);
}

section details summary::-webkit-details-marker {
  display: none;
}

section details summary {
  /* border-radius: 5px 5px 0 0; */
  cursor: pointer;
  padding: 10px;
  font-weight: 400;
  /* text-transform: uppercase; */
  font-size: 16px;
  outline: none;
  /* background: #dcdde1; */
  background: #dcdde175;
  border-bottom: 1px solid #ffffff;
  /* color: #d29d25; */
  /* color: #444; */
  -webkit-box-shadow: 0 1px 5px rgba(255, 255, 255, 0.2);
          box-shadow: 0 1px 5px rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

section details summary:hover {
  /* background: #d3d4da; */
  background: #dcdde1;
}

section details summary:before {
  content: '';
  background-image: url("assets/angle-right-solid.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: top;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

section details .answer {
  padding: 15px;
  background-color: #dcdde150;
  border-bottom: 1px solid #ffffff;
  font-weight: 600;
}

section details .answer .answer__list li {
  margin-top: 10px;
  font-weight: 400;
}

section details .answer .answer__list li a {
  position: relative;
  text-decoration: none;
  font-weight: 600;
  color: inherit;
}

section details .answer .answer__list li a:active {
  color: #19d4ee;
}

section details .answer .answer__list li a:after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}

section details .answer .answer__list li a:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: #19d4ee;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

section details .answer .answer__list li a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  /* background-color: rgba(0, 0, 0, 0.5); */
}

section details p {
  padding: 15px;
  background-color: #f1f2f6;
  border-bottom: 1px solid #ffffff;
  font-weight: 600;
  /* text-transform: uppercase; */
}

section details p a {
  display: block;
  margin-top: 10px;
  font-weight: 400;
  color: #34495e;
  text-decoration: none;
}

section details p a:hover {
  color: #95a5a6;
}

section details p span {
  display: block;
  margin-top: 10px;
  font-weight: 400;
}

details[open] summary::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
/*# sourceMappingURL=style.css.map */